<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--LOCAL-->
    <add name="DefaultConnection" connectionString="data source=DESKTOP-GSQ9MPI\SQLEXPRESS;initial catalog=IsBasvurulari;integrated security=SSPI" providerName="System.Data.SqlClient" />
    <add name="IsBasvurulariEntities" connectionString="metadata=res://*/db.ModelIK.csdl|res://*/db.ModelIK.ssdl|res://*/db.ModelIK.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GSQ9MPI\SQLEXPRESS;initial catalog=IsBasvurulari;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--PUBLISH-->
    <!--<add name="DefaultConnection" connectionString="data source=LOFT9527\SQL2017;initial catalog=IsBasvurulari;user id=sa;password=12345;" providerName="System.Data.SqlClient" />
    <add name="IsBasvurulariEntities" connectionString="metadata=res://*/db.ModelIK.csdl|res://*/db.ModelIK.ssdl|res://*/db.ModelIK.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOFT9527\SQL2017;initial catalog=IsBasvurulari;user id=sa;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>